body {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  background-color: rgb(243, 243, 243, 1);
}

header {
  width: 100%;
}

button {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  width: 120px;
  height: 63px;
  border-radius: 17px;
  font-size: 17px;
  color: rgba(249, 249, 249, 1);
  border: none;
}

button:hover {
  cursor: pointer;
}

.container {
  max-width: 1246px;
  margin: 0 auto;
}

.header {
  position: fixed;
  top: 0px;
  padding: 30px 0 25px;
  width: 100%;
  border-bottom: 2px solid rgba(203, 203, 203, 1);
  background-color: rgba(249, 249, 249, 1);
  z-index: 9999;
}

.header__inner {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  font-weight: 600;
  display: flex;
  align-items: center;
}

.logo_text {
  padding-left: 11px;
  font-size: 21px;
  color: rgba(108, 95, 188, 1);
}

.header__navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
  margin-left: 105px;
  margin-right: 445px;
}

.header__link {
  color: inherit;
  text-decoration: none;
}

.navigation_buttons {
  display: flex;
  flex-direction: row;
  gap: 30px;
  color: rgba(96, 96, 96, 1);
  list-style-type: none;
  font-size: 18px;
  padding-left: 30px;
}

.purpleButton {
  background-color: rgba(108, 95, 188, 1);
  color: rgba(249, 249, 249, 1);
  border: 1.5px solid rgba(108, 95, 188, 1);
}

.purpleButton:hover {
  background-color: rgba(249, 249, 249, 1);
  color: rgba(96, 96, 96, 1);

  transition: 0.4s;
}

.whiteButton {
  background-color: rgba(249, 249, 249, 1);
  color: rgba(96, 96, 96, 1);
  border: 1.5px solid rgba(108, 95, 188, 1);
}

.application {
  padding-top: 100px;
}

.section__inner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 116px;
}

.box_left {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.left_user {
  display: flex;
}

.user_text {
  color: rgba(32, 31, 31, 0.2);
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 2px;
}

.left_content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 567px;
}

.content_title {
  font-weight: 600;
  font-size: 75px;
  line-height: 90px;
  letter-spacing: -3px;
}

purple {
  color: rgba(92, 78, 174, 1);
}

.content_subtitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: rgba(103, 103, 103, 1);
  opacity: 70%;
}

.left_buttons {
  display: flex;
  gap: 18px;
}

.left_rating {
  display: flex;
}

.rating_text {
  padding-top: 5px;
  color: rgba(51, 65, 85, 1);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

#rating_stars {
  margin: 0 10px 0 20px;
}

.box_right {
  position: relative;
}

.card {
  display: flex;
  width: 329px;
  height: 90px;
  position: absolute;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: -10px 5px 5px rgba(70, 70, 70, 0.05);
  padding: 10px 10px 0 10px;
}

.right_card {
  right: -80px;
  top: -70px;
}

.card img {
  width: 74px;
  margin-right: 10px;
}

.card_text {
  display: block;
  width: 100%;
}

.card_title {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
}

.card_subtitle {
  display: block;
  margin-bottom: 10px;
  font-size: 10px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0px;
  text-align: left;
}

.card_time {
  display: block;
  text-align: end;
  align-items: end;
  width: auto;
  font-size: 11px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0px;
  color: rgba(172, 173, 185, 1);
}

.card_background {
  position: absolute;
  z-index: -1;
  left: 20px;
  top: -10px;
}

.features {
  margin-top: 85px;
  background-image: url(/firstProject/images/BG.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.features__box {
  display: flex;
  justify-content: space-evenly;

  height: 220.5px;
  align-items: center;
}

.features_item {
  display: flex;
  flex-direction: column;
  max-width: 220px;
  gap: 11px;

  &:nth-child(2) {
    border-left: 1px solid rgba(197, 197, 197, 1);
    border-right: 1px solid rgba(197, 197, 197, 1);
    padding: 0 66px;
  }
}

.features_title {
  font-weight: 700;
  font-size: 43px;
  line-height: 54px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}

.features_subtitle {
  font-weight: 500;
  font-size: 15px;
  line-height: 21px;
  text-align: center;
  color: rgba(197, 191, 237, 1);
}

.application__inner {
  display: flex;
  justify-content: space-around;
  padding-bottom: 120px;
  border-bottom: 1px solid rgba(203, 203, 203, 1);
}

.application_right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  max-width: 500px;
  max-height: 550px;
}

.application_right_title {
  font-weight: 700;
  font-size: 52px;
  line-height: 59px;
}

.application_right_list {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: rgba(103, 103, 103, 1);
  gap: 28px;
  display: grid;
}

.application_right_more {
  position: relative;
  left: -20%;
}

.application_right_more_vector {
  position: relative;
  top: 70%;
  left: -10%;
}

.restaurants_header {
  padding: 100px 0;
  text-align: center;
}

.header_top {
  font-weight: 600;
  font-size: 45px;
  line-height: 26px;
}

.restaurants_list {
  display: flex;
  justify-content: space-between;
}

.restaurants_list_item {
  display: flex;
  flex-direction: column;
  width: 395.99px;
  height: 297.6px;
  border-radius: 30.02px;
  border: 1.25px;
  gap: 10px;
  background-color: rgba(255, 255, 255, 1);
  border: 1.25px solid rgba(244, 244, 246, 1);
}

.restaurants_list_item img {
  max-width: 395px;
  max-height: 195px;
}

.item_information {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item_information_highlight {
  display: block;
  width: 74.1px;
  height: 24.29px;
  border-radius: 5.4px;
  font-size: 15px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: center;
}

.healthy {
  background-color: rgb(255, 236, 187);
  color: rgba(218, 163, 26, 1);
}

.trending {
  background-color: rgb(255, 181, 164);
  color: rgba(251, 71, 29, 1);
}

.item_information_name {
  font-size: 26px;
  font-weight: 600;
  line-height: 42px;
  letter-spacing: 0px;
  text-align: left;
  color: rgba(50, 49, 66, 1);
}

.item_information_details {
  display: flex;
  align-items: flex-start;
}

.details_time {
  font-size: 19px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
  color: rgba(142, 151, 166, 1);
}

.details_rating {
  font-size: 19px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
  color: rgba(142, 151, 166, 1);
}

.favorite {
  width: 40.09px;
  height: 40.09px;
  position: relative;
  left: 200px;
  bottom: 10px;
}

.restaurants_bottom {
  padding-top: 65px;
  text-align: end;
  font-size: 20px;
  font-weight: 500;
  line-height: 45px;
  padding-bottom: 120px;
  border-bottom: 1px solid rgba(203, 203, 203, 1);
}

.restaurants_bottom a {
  text-decoration: none;
}

.restaurants_bottom_text {
  color: rgba(172, 173, 185, 1);
  text-decoration: none;
}

.dishes {
  padding-top: 100px;
}

.dishes_header {
  text-align: center;
}

.dishes_title {
  font-size: 45px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0px;
}

.dishes_main {
  padding-top: 76px;
  display: flex;
  justify-content: space-between;
}

.dishes_main img {
  max-width: 185px;
  max-height: 185px;
}

.dishes_main_item {
  max-width: 224.63px;
  max-height: 390.36px;
  background-color: rgba(255, 255, 255, 1);
  padding: 30px 15px;
  border-radius: 30px;
  box-shadow: 6.84841775894165px 82.18101501464844px 41.09050750732422px 0px
    rgba(229, 229, 229, 0.7);
}

.item_highlight {
  display: block;
  width: 74.1px;
  height: 24.29px;
  border-radius: 5.4px;
  font-size: 15px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: center;
}

.supreme {
  color: rgba(48, 157, 91, 1);
  background-color: rgb(181, 255, 211);
}

.dishes_item_name {
  font-size: 23px;
  font-weight: 600;
  line-height: 37px;
  letter-spacing: 0px;
  text-align: left;
  color: rgba(50, 49, 66, 1);
}

.dishes_item_details {
  display: flex;
}

.dishes_item_details img {
  max-width: 24px;
  max-height: 23px;
}

.dishes_details_time {
  font-size: 17px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: left;
  color: rgba(142, 151, 166, 1);
}

.dishes_details_rating {
  font-size: 17px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: left;
  color: rgba(142, 151, 166, 1);
}

.add_button {
  max-width: 45px;
  max-height: 40px;
  position: relative;
  left: 75px;
  background-color: white;
}

.dishes_bottom {
  padding-top: 65px;
  text-align: end;
  font-size: 20px;
  font-weight: 500;
  line-height: 45px;
  padding-bottom: 120px;
  border-bottom: 1px solid rgba(203, 203, 203, 1);
}

.dishes_bottom_text {
  color: rgba(172, 173, 185, 1);
}

.dishes_bottom a {
  text-decoration: none;
}

.purchase_left_card {
  position: relative;
}

.delivered {
  color: rgba(50, 49, 66, 1);
}

.canceled {
  color: rgba(241, 83, 78, 1);
}

.purchase_inner {
  padding-top: 100px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px;
  border-bottom: 1px solid rgba(203, 203, 203, 1);
}

.purchase_left {
  max-width: 560px;
}

.purchase_left_text {
  font-size: 53px;
  font-weight: 700;
  line-height: 61px;
  letter-spacing: 0px;
  text-align: left;
}

.purchase_left_list {
  padding-top: 48px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.purchase_right {
  width: 534px;
  height: fit-content;
  padding: 45px 37px;
  background-color: rgba(255, 255, 255, 1);
  border: 1.57px solid rgba(237, 242, 247, 1);
  border-radius: 15px;
  box-shadow: 1px 164px 121px -74px rgba(211 211 211 / 78%);
}

.right_information_header {
  display: flex;
  justify-content: space-between;
}

.right_information_header_text {
  font-size: 28px;
  font-weight: 800;
  line-height: 38px;
  letter-spacing: 0.3141176700592041px;
  text-align: left;
  color: rgba(26, 32, 44, 1);
}

.right_information_header_select {
  width: (175.91px);
  height: (53.4px);
  padding: 12.56px, 18.85px, 12.56px, 18.85px;
  border-radius: 12.56px;
  gap: 6.28px;
  background-color: rgba(250, 250, 250, 1);
  font-size: 19px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0.6282353401184082px;
  text-align: left;
  color: rgba(26, 32, 44, 1);
}

.right_information_main {
  padding-top: 38px;
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.item_wrapper {
  padding: 25.13px;
  border-radius: 18.85px;
  border: 1.57px solid rgba(237, 242, 247, 1);
}

.right_information_main_item {
  display: flex;
  width: (458.61px);
}

.right_information_main_item_left {
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 55px;
}

.right_information_main_item_right {
  margin-left: auto;
}

.item_left_title {
  font-size: 19px;
  font-weight: 800;
  line-height: 28px;
  letter-spacing: 0.6282353401184082px;
  text-align: left;
  color: rgba(26, 32, 44, 1);
}

.item_left_subtitle {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.6282353401184082px;
  text-align: left;
  color: rgba(160, 174, 192, 1);
}

.item_right_price {
  font-size: 22px;
  font-weight: 800;
  line-height: 33px;
  letter-spacing: 0.3141176700592041px;
  text-align: right;
  color: rgba(26, 32, 44, 1);
}

#yellow_form {
  content: "";
  position: relative;
  height: 10px;
  margin-top: 10px;
  background-color: rgba(251, 172, 24, 0.2);
  border-radius: 78.53px;
}

#yellow_fill {
  position: relative;
  background-color: rgba(251, 173, 24, 1);
  height: 10px;
  width: 245px;
  border-radius: 78.53px;
}

#purple_form {
  content: "";
  position: relative;
  height: 10px;
  margin-top: 10px;
  background-color: rgba(108, 95, 188, 0.2);
  border-radius: 78.53px;
}

#purple_fill {
  position: relative;
  background-color: rgba(108, 95, 188, 1);
  height: 10px;
  width: 380px;
  border-radius: 78.53px;
}

.customer__wrapper {
  padding-top: 116px;
}

.inner__head {
  text-align: center;
}

.inner__head-title {
  font-size: 45px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0px;
}

.inner__content {
  padding-top: 80px;
}

.inner__content-item {
  display: flex;
  flex-direction: column;
  max-width: 528px;
  padding: 38px 43px;
  background-color: rgba(255, 255, 255, 1);
}

.item__header {
  display: flex;
}

.item__header-text {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 150px;
  gap: 10px;
}
