body {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  background-color: rgb(243, 243, 243);
}

header {
  width: 100%;
}

button {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  width: 120px;
  height: 63px;
  border-radius: 17px;
  font-size: 17px;
  color: rgb(249, 249, 249);
  border: none;
}
button:hover {
  cursor: pointer;
}

.container {
  max-width: 1246px;
  margin: 0 auto;
}

.purpleButton {
  background-color: rgb(108, 95, 188);
  color: rgb(249, 249, 249);
  border: 1.5px solid rgb(108, 95, 188);
}

.purpleButton:hover {
  background-color: transparent;
  color: rgb(96, 96, 96);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.whiteButton {
  background-color: rgb(243, 243, 243);
  color: rgb(96, 96, 96);
  border: 1.5px solid rgb(108, 95, 188);
}

.healthy {
  background-color: rgb(255, 236, 187);
  color: rgb(218, 163, 26);
}

.trending {
  background-color: rgb(255, 181, 164);
  color: rgb(251, 71, 29);
}

.supreme {
  color: rgb(48, 157, 91);
  background-color: rgb(181, 255, 211);
}

purple {
  color: rgb(92, 78, 174);
}

.notification {
  display: none;
  width: 300px;
  height: 80px;
  position: fixed;
  bottom: 0;
  left: 50px;
  padding: 0 20px;
  border-radius: 15px;
  z-index: 9999;
  background-color: rgb(108, 95, 188);
  -webkit-animation-name: showNotification;
          animation-name: showNotification;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
}
.notification-content {
  text-align: center;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  color: rgb(255, 243, 235);
}

@-webkit-keyframes showNotification {
  from {
    margin-bottom: -150px;
  }
  to {
    margin-bottom: 50px;
  }
}

@keyframes showNotification {
  from {
    margin-bottom: -150px;
  }
  to {
    margin-bottom: 50px;
  }
}
.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 329px;
  max-height: 90px;
  position: relative;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  -webkit-box-shadow: -10px 5px 5px rgba(70, 70, 70, 0.05);
          box-shadow: -10px 5px 5px rgba(70, 70, 70, 0.05);
  padding: 10px;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
.card:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}
.card img {
  max-width: 74px;
  margin-right: 10px;
}
.card-text {
  display: block;
  width: 100%;
}
.card-title {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
}
.card-subtitle {
  display: block;
  margin-bottom: 10px;
  font-size: 10px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0px;
  text-align: left;
}
.card-time {
  display: block;
  text-align: end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  width: auto;
  font-size: 11px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0px;
  color: rgb(172, 173, 185);
}

.header {
  position: fixed;
  top: 0px;
  padding: 30px 0 25px;
  width: 100%;
  border-bottom: 2px solid rgb(203, 203, 203);
  background-color: rgb(243, 243, 243);
  z-index: 9999;
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo:hover {
  cursor: pointer;
}
.header__logo-text {
  padding-left: 11px;
  font-size: 21px;
  color: rgb(108, 95, 188);
}
.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
  margin-left: 105px;
}
.header__navigation-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 30px;
  color: rgb(96, 96, 96);
  list-style-type: none;
  font-size: 18px;
  padding-left: 30px;
}
.header__link {
  color: inherit;
  text-decoration: none;
  position: relative;
}
.header__link::after {
  width: 0;
  content: "";
  display: block;
  position: absolute;
  margin-top: 2px;
  height: 2px;
  background-color: rgb(108, 95, 188);
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
.header__link:hover {
  color: rgb(108, 95, 188);
}
.header__link:hover:after {
  width: 100%;
}
.header__registration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.header__registration-link {
  text-decoration: none;
}

.application {
  padding-top: 100px;
}
.application__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 116px;
}
.application__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
}
.application__left-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.application__left-text {
  color: rgba(32, 31, 31, 0.2);
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 2px;
}
.application__left-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  max-width: 567px;
}
.application__left-heading {
  font-weight: 600;
  font-size: 75px;
  line-height: 90px;
  letter-spacing: -3px;
}
.application__left-subtitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: rgb(103, 103, 103);
  opacity: 70%;
}
.application__left-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 18px;
}
.application__left-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.application__left-grade {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(51, 65, 85, 0.7);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.application__right {
  position: relative;
}
.application__right-card {
  right: -200px;
}
.application__right-picture {
  top: 1px;
  position: relative;
}
.application__right-background {
  position: absolute;
  z-index: -1;
  left: 20px;
  top: -10px;
}

#rating_stars {
  margin: 0 10px 0 20px;
}

.features {
  margin-top: 85px;
  background-image: url(/firstProject/images/BG.svg);
  background-size: cover;
  background-repeat: no-repeat;
}
.features__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 220.5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.features__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 220px;
  gap: 11px;
}
.features__item:nth-child(2) {
  border-left: 1px solid rgb(197, 197, 197);
  border-right: 1px solid rgb(197, 197, 197);
  padding: 0 66px;
}
.features__item-title {
  font-weight: 700;
  font-size: 43px;
  line-height: 54px;
  text-align: center;
  color: rgb(255, 255, 255);
}
.features__item-subtitle {
  font-weight: 500;
  font-size: 15px;
  line-height: 21px;
  text-align: center;
  color: rgb(197, 191, 237);
}

.mobile__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 120px;
  border-bottom: 1px solid rgb(203, 203, 203);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 116px;
}
.mobile__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 500px;
  max-height: 550px;
}
.mobile__right-title {
  font-weight: 700;
  font-size: 52px;
  line-height: 59px;
}
.mobile__right-list {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: rgb(103, 103, 103);
  gap: 28px;
  display: grid;
}
.mobile__right-more {
  position: relative;
  left: -20%;
}
.mobile__right-more-vector {
  position: relative;
  top: 70%;
  left: -1%;
}

.restaurants__header {
  padding: 100px 0;
  text-align: center;
}
.restaurants__header-top {
  font-weight: 600;
  font-size: 45px;
  line-height: 26px;
}
.restaurants__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.restaurants__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 30.02px;
  border: 1.25px;
  gap: 10px;
  background-color: rgb(255, 255, 255);
  border: 1.25px solid rgb(244, 244, 246);
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
.restaurants__list-item:hover {
  -webkit-transform: scale(1.13);
      -ms-transform: scale(1.13);
          transform: scale(1.13);
  z-index: 2;
}
.restaurants__list-item img {
  max-width: 395px;
  max-height: 195px;
  border-radius: 25px;
}
.restaurants__list-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
}
.restaurants__list-highlight {
  display: block;
  width: 74.1px;
  height: 24.29px;
  border-radius: 5.4px;
  font-size: 15px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: center;
}
.restaurants__list-name {
  font-size: 26px;
  font-weight: 600;
  line-height: 42px;
  letter-spacing: 0px;
  text-align: left;
  color: rgb(50, 49, 66);
}
.restaurants__list-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.restaurants__list-time {
  font-size: 19px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
  color: rgb(142, 151, 166);
}
.restaurants__list-rating {
  font-size: 19px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
  color: rgb(142, 151, 166);
}
.restaurants__bottom {
  padding-top: 65px;
  text-align: end;
  font-size: 20px;
  font-weight: 500;
  line-height: 45px;
  padding-bottom: 120px;
  border-bottom: 1px solid rgb(203, 203, 203);
}
.restaurants__bottom a {
  text-decoration: none;
}
.restaurants__bottom-text {
  color: rgb(172, 173, 185);
  text-decoration: none;
}

.favorite {
  width: 40.09px;
  height: 40.09px;
  position: relative;
  left: 200px;
  bottom: 10px;
  background-color: white;
}

.dishes {
  padding-top: 100px;
}
.dishes__header {
  text-align: center;
}
.dishes__title {
  font-size: 45px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0px;
}
.dishes__main {
  padding: 0 15px;
  padding-top: 76px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.dishes__main-item {
  max-width: 224px;
  max-height: 390px;
  background-color: rgb(255, 255, 255);
  padding: 30px 15px;
  border-radius: 30px;
  -webkit-box-shadow: 6.8px 82.2px 41px 0px rgba(229, 229, 229, 0.7);
          box-shadow: 6.8px 82.2px 41px 0px rgba(229, 229, 229, 0.7);
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  margin-bottom: 15px;
}
.dishes__main-item:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}
.dishes__main-item-name {
  font-size: 23px;
  font-weight: 600;
  line-height: 37px;
  letter-spacing: 0px;
  text-align: left;
  color: rgb(50, 49, 66);
}
.dishes__main-highlight {
  display: block;
  width: 74.1px;
  height: 24.29px;
  border-radius: 5.4px;
  font-size: 15px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: center;
}
.dishes img {
  max-width: 185px;
  max-height: 185px;
}
.dishes__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.dishes__details img {
  max-width: 24px;
  max-height: 23px;
}
.dishes__details-time {
  font-size: 17px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: left;
  color: rgb(142, 151, 166);
}
.dishes__details-rating {
  font-size: 17px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: left;
  color: rgb(142, 151, 166);
}
.dishes-add-button {
  max-width: 45px;
  max-height: 40px;
  position: relative;
  left: 75px;
  background-color: white;
}
.dishes__bottom {
  padding-top: 65px;
  text-align: end;
  font-size: 20px;
  font-weight: 500;
  line-height: 45px;
  padding-bottom: 120px;
  border-bottom: 1px solid rgb(203, 203, 203);
}
.dishes__bottom-text {
  color: rgb(172, 173, 185);
}
.dishes__bottom a {
  text-decoration: none;
}

.purchase_left_card {
  position: relative;
}

.delivered {
  color: rgb(50, 49, 66);
}

.canceled {
  color: rgb(241, 83, 78);
}

.purchase__inner {
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 100px;
  border-bottom: 1px solid rgb(203, 203, 203);
}
.purchase__left {
  max-width: 560px;
}
.purchase__left-text {
  font-size: 53px;
  font-weight: 700;
  line-height: 61px;
  letter-spacing: 0px;
  text-align: left;
}
.purchase__left-list {
  padding-top: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}
.purchase__right {
  width: 534px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 45px 37px;
  background-color: rgb(255, 255, 255);
  border: 1.57px solid rgb(237, 242, 247);
  border-radius: 15px;
  -webkit-box-shadow: 1px 164px 121px -74px rgba(211, 211, 211, 0.78);
          box-shadow: 1px 164px 121px -74px rgba(211, 211, 211, 0.78);
}
.purchase__right-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.purchase__right-title {
  font-size: 28px;
  font-weight: 800;
  line-height: 38px;
  letter-spacing: 0.3141176701px;
  text-align: left;
  color: rgb(26, 32, 44);
}
.purchase__right-dropdown {
  position: relative;
}
.purchase__right-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  width: 175px;
  height: 53px;
  border-radius: 13px;
  background-color: rgb(250, 250, 250);
  font-size: 19px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0.6px;
  color: rgb(26, 32, 44);
  border: 2px solid rgb(108, 95, 188);
}
.purchase__right-select:hover {
  cursor: pointer;
  background-color: rgba(108, 95, 188, 0.2);
}
.purchase__right-caret {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid rgb(108, 95, 188);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.purchase__right-caret-rotate {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.purchase__right-menu {
  list-style: none;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 0%;
  font-size: 0;
  background-color: white;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0.6px;
  border-radius: 13px;
  border: 0px solid rgb(108, 95, 188);
  z-index: 1;
  opacity: 0;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.purchase__right-menu-open {
  border: 2px solid rgb(108, 95, 188);
  font-size: 19px;
  width: 100%;
  margin-top: 5px;
  padding: 5px;
  opacity: 1;
}
.purchase__right-menu-open li {
  margin-top: 5px;
  padding-left: 20px;
  cursor: pointer;
  border-radius: 10px;
}
.purchase__right-menu-open li:hover {
  background-color: rgba(108, 95, 188, 0.4);
}
.purchase__right-active {
  background-color: rgba(108, 95, 188, 0.8);
}
.purchase__right-main {
  padding-top: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 22px;
}
.purchase__item-wrapper {
  padding: 25.13px;
  border-radius: 18.85px;
  border: 1.57px solid rgb(237, 242, 247);
}
.purchase__item-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 458.61px;
}
.purchase__item-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 150px;
  height: 55px;
}
.purchase__item-title {
  font-size: 19px;
  font-weight: 800;
  line-height: 28px;
  letter-spacing: 0.6px;
  text-align: left;
  color: rgb(26, 32, 44);
}
.purchase__item-subtitle {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.6px;
  text-align: left;
  color: rgb(160, 174, 192);
}
.purchase__item-price {
  margin-left: auto;
}
.purchase__item-price-text {
  font-size: 22px;
  font-weight: 800;
  line-height: 33px;
  letter-spacing: 0.3px;
  text-align: right;
  color: rgb(26, 32, 44);
}

#yellow_form {
  content: "";
  position: relative;
  height: 10px;
  margin-top: 30px;
  background-color: rgba(251, 172, 24, 0.2);
  border-radius: 78.53px;
}

#yellow_fill {
  position: relative;
  background-color: rgb(251, 173, 24);
  height: 10px;
  width: 100%;
  border-radius: 78.53px;
}

#purple_form {
  content: "";
  position: relative;
  height: 10px;
  margin-top: 10px;
  background-color: rgba(108, 95, 188, 0.2);
  border-radius: 78.53px;
}

#purple_fill {
  position: relative;
  background-color: rgb(108, 95, 188);
  height: 10px;
  width: 100%;
  border-radius: 78.53px;
}

.customer__wrapper {
  padding-top: 116px;
}
.customer__head {
  text-align: center;
}
.customer__head-title {
  font-size: 45px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0px;
}
.customer__content {
  padding-top: 80px;
}
.customer__content-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 46px;
  overflow: hidden;
}
.customer__content-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 38px 43px;
  background-color: rgb(255, 255, 255);
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 35px;
  border-radius: 30px;
  position: relative;
  right: 0px;
}

.item__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.item__header-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 20px;
  gap: 10px;
  min-width: 150px;
}
.item__header-quote {
  margin-left: 144px;
}
.item__text {
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: justified;
  color: rgb(99, 99, 99);
}
.item__img {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.slider__form {
  position: relative;
  height: 10px;
  width: 699px;
  margin-top: 10px;
  background-color: rgba(108, 95, 188, 0.2);
  border-radius: 78.53px;
  margin: 50px auto;
}
.slider__form:hover {
  cursor: pointer;
}
.slider__scroll {
  position: relative;
  background-color: rgb(108, 95, 188);
  height: 10px;
  width: 100px;
  border-radius: 78.53px;
}

.subscribe__inner {
  background-image: url(/firstProject/images/foods.svg);
  background-color: rgb(108, 95, 188);
  margin-top: 100px;
  height: 280px;
  border-radius: 30px;
}
.subscribe__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 37px 66px;
  gap: 20px;
}
.subscribe__content-img {
  position: absolute;
  right: 72px;
  top: 64px;
  width: 274px;
}
.subscribe__content input {
  min-width: 300px;
  min-height: 68px;
  border-radius: 14.23px;
  border: 2px solid transparent;
  background-color: rgb(219, 219, 219);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  padding-left: 22px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  outline: none;
  margin: 1px;
  padding-right: 160px;
}
.subscribe__content-text {
  font-size: 70px;
  font-weight: 800;
  line-height: 105px;
  color: rgb(255, 255, 255);
}
.subscribe__content-button {
  position: absolute;
  right: 2%;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.03em;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.subscribe__input-wrapper {
  position: relative;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  border: 2px solid transparent;
  border-radius: 15px;
  padding: 2px;
}

.footer {
  margin-top: 150px;
  background-color: rgb(228, 228, 228);
}
.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 20px;
}
.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px 0;
  border-bottom: 1px solid rgb(129, 129, 129);
}
.footer__top__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__top-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 70px;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  color: rgb(153, 153, 153);
}
.footer__bot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px 0;
}
.footer__bot-copyright {
  font-size: 17px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;
  color: rgb(153, 153, 153);
}
.footer__bot-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}

@media (max-width: 1450px) {
  .application__right-card {
    right: -100px;
  }
}
@media (max-width: 1250px) {
  .application__left {
    width: 80%;
  }
  .application__left-heading {
    font-size: 60px;
  }
  .application__right-card {
    width: 80%;
  }
  .application__right-picture {
    width: 90%;
  }
  .application__right-picture img {
    width: 90%;
  }
  .features__box {
    height: 170px;
  }
  .features__item {
    gap: 0;
  }
  .features__item-title {
    font-size: 30px;
  }
  .features__item-subtitle {
    font-size: 15px;
  }
  .restaurants__list {
    padding: 0 20px;
  }
  .restaurants__list-item {
    width: 330px;
  }
  .customer__content-list {
    overflow: scroll;
  }
  .favorite {
    left: 140px;
  }
  .slider__form {
    display: none;
  }
  .item__header-quote {
    margin: 0;
  }
}
@media (max-width: 1100px) {
  .restaurants__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    gap: 20px;
  }
  .restaurants__list-item {
    width: 330px;
  }
  .restaurants .favorite {
    left: 130px;
  }
  .purchase__right-select {
    width: 100px;
  }
}
@media (max-width: 900px) {
  .application__left-heading {
    font-size: 40px;
    line-height: 60px;
  }
  .application__right-card {
    width: 80%;
  }
  .application__right-picture {
    width: 90%;
  }
  .application__right-picture img {
    width: 90%;
  }
  .features__box {
    height: 170px;
  }
  .features__item {
    gap: 0;
  }
  .features__item-title {
    font-size: 30px;
  }
  .features__item-subtitle {
    font-size: 15px;
  }
  .features__item:nth-child(2) {
    padding: 0 10px;
  }
  .mobile__left img {
    width: 280px;
  }
  .mobile__right-title {
    font-size: 40px;
  }
  .mobile__right-list {
    font-size: 16px;
    gap: 10px;
  }
  .mobile__right-more {
    left: 0;
  }
  .mobile__right-more-vector {
    width: 50%;
  }
  .restaurants__bottom {
    text-align: center;
  }
  .dishes__bottom {
    text-align: center;
  }
  .purchase__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 60px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .purchase__left-item {
    margin-left: 50px;
  }
  .purchase__left-text {
    font-size: 40px;
    line-height: 40px;
  }
  .purchase__right {
    width: 400px;
    border: 1px solid rgb(205, 210, 214);
  }
  .subscribe__content input {
    min-width: 0;
  }
}
@media (max-width: 800px) {
  .subscribe__content-img {
    width: 25%;
    top: 120px;
  }
}
@media (max-width: 700px) {
  .application__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .application__right {
    margin-top: 40px;
  }
  .features__box {
    height: 170px;
  }
  .features__item {
    gap: 0;
  }
  .features__item-title {
    font-size: 24px;
  }
  .features__item-subtitle {
    font-size: 14px;
  }
  .features__item:nth-child(2) {
    padding: 0 10px;
  }
  .mobile__left img {
    width: 200px;
  }
  .mobile__right {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .mobile__right-title {
    font-size: 30px;
    line-height: 40px;
  }
  .mobile__right-list {
    font-size: 13px;
    gap: 10px;
  }
  .mobile__right-more-vector {
    display: none;
  }
  .subscribe__content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .subscribe__content-img {
    display: none;
  }
}
@media (max-width: 500px) {
  .application__left-rating {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .application__right-card {
    right: 0;
  }
  .mobile__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mobile__left img {
    width: 240px;
  }
  .mobile__right {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mobile__right-title {
    font-size: 30px;
    line-height: 40px;
  }
  .mobile__right-list {
    font-size: 16px;
    gap: 10px;
  }
  .mobile__right-more-vector {
    display: none;
  }
  .restaurants__list-item {
    width: 280px;
  }
  .restaurants .favorite {
    left: 90px;
  }
  .dishes__main {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .purchase__item-wrapper img {
    width: 0;
  }
  .purchase__item-title {
    font-weight: 500;
  }
  .purchase__item-information {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .purchase__left-item {
    margin: 0 40px;
  }
  .purchase__right {
    width: 200px;
  }
  .purchase__right-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .customer__content-item {
    padding: 20px;
  }
  .subscribe__content-text {
    font-size: 40px;
  }
  .subscribe__input-wrapper input {
    width: 120px;
    font-size: 15px;
    padding-right: 140px;
  }
}