body {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  background-color: rgb(243, 243, 243);
}

header {
  width: 100%;
}

button {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  width: 120px;
  height: 63px;
  border-radius: 17px;
  font-size: 17px;
  color: rgb(249, 249, 249);
  border: none;
}

button:hover {
  cursor: pointer;
}

.container {
  max-width: 1246px;
  margin: 0 auto;
}

.header {
  position: fixed;
  top: 0px;
  padding: 30px 0 25px;
  width: 100%;
  border-bottom: 2px solid rgb(203, 203, 203);
  background-color: rgb(243, 243, 243);
  z-index: 9999;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-text {
  padding-left: 11px;
  font-size: 21px;
  color: rgb(108, 95, 188);
}

.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
  margin-left: 105px;
  margin-right: 445px;
}

.header__link {
  color: inherit;
  text-decoration: none;
}

.navigation_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 30px;
  color: rgb(96, 96, 96);
  list-style-type: none;
  font-size: 18px;
  padding-left: 30px;
}

.purpleButton {
  background-color: rgb(108, 95, 188);
  color: rgb(249, 249, 249);
  border: 1.5px solid rgb(108, 95, 188);
}

.purpleButton:hover {
  background-color: rgb(249, 249, 249);
  color: rgb(96, 96, 96);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.whiteButton {
  background-color: rgb(243, 243, 243);
  color: rgb(96, 96, 96);
  border: 1.5px solid rgb(108, 95, 188);
}

.application {
  padding-top: 100px;
}

.section__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 116px;
}

.box_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
}

.left_user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.user_text {
  color: rgba(32, 31, 31, 0.2);
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 2px;
}

.left_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  max-width: 567px;
}

.content_title {
  font-weight: 600;
  font-size: 75px;
  line-height: 90px;
  letter-spacing: -3px;
}

purple {
  color: rgb(92, 78, 174);
}

.content_subtitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: rgb(103, 103, 103);
  opacity: 70%;
}

.left_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 18px;
}

.left_rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rating_text {
  padding-top: 5px;
  color: rgb(51, 65, 85);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

#rating_stars {
  margin: 0 10px 0 20px;
}

.box_right {
  position: relative;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 329px;
  height: 90px;
  position: absolute;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  -webkit-box-shadow: -10px 5px 5px rgba(70, 70, 70, 0.05);
          box-shadow: -10px 5px 5px rgba(70, 70, 70, 0.05);
  padding: 10px 10px 0 10px;
}

.right_card {
  right: -80px;
  top: -70px;
}

.card img {
  width: 74px;
  margin-right: 10px;
}

.card_text {
  display: block;
  width: 100%;
}

.card_title {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
}

.card_subtitle {
  display: block;
  margin-bottom: 10px;
  font-size: 10px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0px;
  text-align: left;
}

.card_time {
  display: block;
  text-align: end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  width: auto;
  font-size: 11px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0px;
  color: rgb(172, 173, 185);
}

.card_background {
  position: absolute;
  z-index: -1;
  left: 20px;
  top: -10px;
}

.features {
  margin-top: 85px;
  background-image: url(/firstProject/images/BG.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.features__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 220.5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 220px;
  gap: 11px;
}
.features_item:nth-child(2) {
  border-left: 1px solid rgb(197, 197, 197);
  border-right: 1px solid rgb(197, 197, 197);
  padding: 0 66px;
}

.features_title {
  font-weight: 700;
  font-size: 43px;
  line-height: 54px;
  text-align: center;
  color: rgb(255, 255, 255);
}

.features_subtitle {
  font-weight: 500;
  font-size: 15px;
  line-height: 21px;
  text-align: center;
  color: rgb(197, 191, 237);
}

.application__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 120px;
  border-bottom: 1px solid rgb(203, 203, 203);
}

.application_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 500px;
  max-height: 550px;
}

.application_right_title {
  font-weight: 700;
  font-size: 52px;
  line-height: 59px;
}

.application_right_list {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: rgb(103, 103, 103);
  gap: 28px;
  display: grid;
}

.application_right_more {
  position: relative;
  left: -20%;
}

.application_right_more_vector {
  position: relative;
  top: 70%;
  left: -10%;
}

.restaurants_header {
  padding: 100px 0;
  text-align: center;
}

.header_top {
  font-weight: 600;
  font-size: 45px;
  line-height: 26px;
}

.restaurants_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.restaurants_list_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 30.02px;
  border: 1.25px;
  gap: 10px;
  background-color: rgb(255, 255, 255);
  border: 1.25px solid rgb(244, 244, 246);
}

.restaurants_list_item img {
  max-width: 395px;
  max-height: 195px;
}

.item_information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
}

.item_information_highlight {
  display: block;
  width: 74.1px;
  height: 24.29px;
  border-radius: 5.4px;
  font-size: 15px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: center;
}

.healthy {
  background-color: rgb(255, 236, 187);
  color: rgb(218, 163, 26);
}

.trending {
  background-color: rgb(255, 181, 164);
  color: rgb(251, 71, 29);
}

.item_information_name {
  font-size: 26px;
  font-weight: 600;
  line-height: 42px;
  letter-spacing: 0px;
  text-align: left;
  color: rgb(50, 49, 66);
}

.item_information_details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.details_time {
  font-size: 19px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
  color: rgb(142, 151, 166);
}

.details_rating {
  font-size: 19px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
  color: rgb(142, 151, 166);
}

.favorite {
  width: 40.09px;
  height: 40.09px;
  position: relative;
  left: 200px;
  bottom: 10px;
  background-color: white;
}

.restaurants_bottom {
  padding-top: 65px;
  text-align: end;
  font-size: 20px;
  font-weight: 500;
  line-height: 45px;
  padding-bottom: 120px;
  border-bottom: 1px solid rgb(203, 203, 203);
}

.restaurants_bottom a {
  text-decoration: none;
}

.restaurants_bottom_text {
  color: rgb(172, 173, 185);
  text-decoration: none;
}

.dishes {
  padding-top: 100px;
}

.dishes_header {
  text-align: center;
}

.dishes_title {
  font-size: 45px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0px;
}

.dishes_main {
  padding-top: 76px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dishes_main img {
  max-width: 185px;
  max-height: 185px;
}

.dishes_main_item {
  max-width: 224.63px;
  max-height: 390.36px;
  background-color: rgb(255, 255, 255);
  padding: 30px 15px;
  border-radius: 30px;
  -webkit-box-shadow: 6.8484177589px 82.1810150146px 41.0905075073px 0px rgba(229, 229, 229, 0.7);
          box-shadow: 6.8484177589px 82.1810150146px 41.0905075073px 0px rgba(229, 229, 229, 0.7);
}

.item_highlight {
  display: block;
  width: 74.1px;
  height: 24.29px;
  border-radius: 5.4px;
  font-size: 15px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: center;
}

.supreme {
  color: rgb(48, 157, 91);
  background-color: rgb(181, 255, 211);
}

.dishes_item_name {
  font-size: 23px;
  font-weight: 600;
  line-height: 37px;
  letter-spacing: 0px;
  text-align: left;
  color: rgb(50, 49, 66);
}

.dishes_item_details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dishes_item_details img {
  max-width: 24px;
  max-height: 23px;
}

.dishes_details_time {
  font-size: 17px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: left;
  color: rgb(142, 151, 166);
}

.dishes_details_rating {
  font-size: 17px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: left;
  color: rgb(142, 151, 166);
}

.add_button {
  max-width: 45px;
  max-height: 40px;
  position: relative;
  left: 75px;
  background-color: white;
}

.dishes_bottom {
  padding-top: 65px;
  text-align: end;
  font-size: 20px;
  font-weight: 500;
  line-height: 45px;
  padding-bottom: 120px;
  border-bottom: 1px solid rgb(203, 203, 203);
}

.dishes_bottom_text {
  color: rgb(172, 173, 185);
}

.dishes_bottom a {
  text-decoration: none;
}

.purchase_left_card {
  position: relative;
}

.delivered {
  color: rgb(50, 49, 66);
}

.canceled {
  color: rgb(241, 83, 78);
}

.purchase_inner {
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 100px;
  border-bottom: 1px solid rgb(203, 203, 203);
}

.purchase_left {
  max-width: 560px;
}

.purchase_left_text {
  font-size: 53px;
  font-weight: 700;
  line-height: 61px;
  letter-spacing: 0px;
  text-align: left;
}

.purchase_left_list {
  padding-top: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

.purchase_right {
  width: 534px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 45px 37px;
  background-color: rgb(255, 255, 255);
  border: 1.57px solid rgb(237, 242, 247);
  border-radius: 15px;
  -webkit-box-shadow: 1px 164px 121px -74px rgba(211, 211, 211, 0.78);
          box-shadow: 1px 164px 121px -74px rgba(211, 211, 211, 0.78);
}

.right_information_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.right_information_header_text {
  font-size: 28px;
  font-weight: 800;
  line-height: 38px;
  letter-spacing: 0.3141176701px;
  text-align: left;
  color: rgb(26, 32, 44);
}

.right_information_header_select {
  width: 175.91px;
  height: 53.4px;
  padding: 12.56px, 18.85px, 12.56px, 18.85px;
  border-radius: 12.56px;
  gap: 6.28px;
  background-color: rgb(250, 250, 250);
  font-size: 19px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0.6282353401px;
  text-align: left;
  color: rgb(26, 32, 44);
}

.right_information_main {
  padding-top: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 22px;
}

.item_wrapper {
  padding: 25.13px;
  border-radius: 18.85px;
  border: 1.57px solid rgb(237, 242, 247);
}

.right_information_main_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 458.61px;
}

.right_information_main_item_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 150px;
  height: 55px;
}

.right_information_main_item_right {
  margin-left: auto;
}

.item_left_title {
  font-size: 19px;
  font-weight: 800;
  line-height: 28px;
  letter-spacing: 0.6282353401px;
  text-align: left;
  color: rgb(26, 32, 44);
}

.item_left_subtitle {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.6282353401px;
  text-align: left;
  color: rgb(160, 174, 192);
}

.item_right_price {
  font-size: 22px;
  font-weight: 800;
  line-height: 33px;
  letter-spacing: 0.3141176701px;
  text-align: right;
  color: rgb(26, 32, 44);
}

#yellow_form {
  content: "";
  position: relative;
  height: 10px;
  margin-top: 10px;
  background-color: rgba(251, 172, 24, 0.2);
  border-radius: 78.53px;
}

#yellow_fill {
  position: relative;
  background-color: rgb(251, 173, 24);
  height: 10px;
  width: 245px;
  border-radius: 78.53px;
}

#purple_form {
  content: "";
  position: relative;
  height: 10px;
  margin-top: 10px;
  background-color: rgba(108, 95, 188, 0.2);
  border-radius: 78.53px;
}

#purple_fill {
  position: relative;
  background-color: rgb(108, 95, 188);
  height: 10px;
  width: 380px;
  border-radius: 78.53px;
}

.customer__wrapper {
  padding-top: 116px;
}

.inner__head {
  text-align: center;
}

.inner__head-title {
  font-size: 45px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0px;
}

.inner__content {
  padding-top: 80px;
}

.inner__content-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 46px;
  overflow: hidden;
}

.inner__content-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 38px 43px;
  background-color: rgb(255, 255, 255);
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 35px;
  border-radius: 30px;
  position: relative;
  left: -535px;
}

.item__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item__header-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 20px;
  gap: 10px;
  min-width: 150px;
}

.item__header_quote {
  margin-left: 144px;
}

.item__text {
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: justified;
  color: rgb(99, 99, 99);
}

.item__img {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.slider__form {
  position: relative;
  height: 10px;
  width: 699px;
  margin-top: 10px;
  background-color: rgba(108, 95, 188, 0.2);
  border-radius: 78.53px;
  margin: 50px auto;
}
.slider__form:hover {
  cursor: pointer;
}

.slider__scroll {
  position: relative;
  background-color: rgb(108, 95, 188);
  height: 10px;
  width: 233px;
  border-radius: 78.53px;
}

.subscribe__inner {
  background-image: url(/firstProject/images/foods.svg);
  background-color: rgb(108, 95, 188);
  margin-top: 100px;
  height: 280px;
  border-radius: 30px;
}
.subscribe__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 37px 66px;
  gap: 20px;
}
.subscribe__content-img {
  position: absolute;
  right: 72px;
  top: 64px;
  width: 274px;
}
.subscribe__content input {
  min-width: 300px;
  min-height: 68px;
  border-radius: 14.23px;
  border: 2px solid transparent;
  background-color: rgb(219, 219, 219);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  padding-left: 22px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  outline: none;
  margin: 1px;
  padding-right: 160px;
}
.subscribe__content-text {
  font-size: 70px;
  font-weight: 800;
  line-height: 105px;
  color: rgb(255, 255, 255);
}
.subscribe__content-button {
  position: absolute;
  right: 2%;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.03em;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.subscribe__input-wrapper {
  position: relative;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  border: 2px solid transparent;
  border-radius: 15px;
  padding: 2px;
}

.footer {
  margin-top: 150px;
  background-color: rgb(228, 228, 228);
}
.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 20px;
}
.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px 0;
  border-bottom: 1px solid rgb(129, 129, 129);
}
.footer__top__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__top-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 70px;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  color: rgb(153, 153, 153);
}
.footer__bot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px 0;
}
.footer__bot-copyright {
  font-size: 17px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;
  color: rgb(153, 153, 153);
}
.footer__bot-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}